body {
    font-family: "Helvetica";
}
/* The navigation bar */
.navbar {
    background-color: #FFF;
    width: 100%; /* Full width */
    display: none;
    z-index: 21;
    padding: 0px 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
}
.navbar .btn {
    color: white; 
}
.sticky {
    position: fixed;
    top: 0;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.content {
    display: none;

}
.timesheet-title {
    margin-bottom: 50px;
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

#formContent{
    margin-top: 10%;
}

.time-sheet thead {
    /*background-color: #cbdbb8;*/
    background-color: #45a198;
}

/*.time-sheet tbody > tr > td:nth-child(2) {*/
/*background-color: #cbdbb8;*/
/*}*/

.time-sheet .saturday > td:nth-child(2) {
    color: dodgerblue;
}

.time-sheet .sunday > td:nth-child(2) {
    color: red;
}

.time-sheet thead > tr > th:last-child, .time-sheet tbody > tr > td:last-child {
    /*display: none;*/
}

.time-sheet .holiday {
    background-color: lightgrey;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.time-sheet-control .form-group > div {
    margin-bottom: 10px;
}

.holiday-toggle {
    background-color: #45a198;
}

#day_off[value=有給] ~ div > #paid_holiday {
    border: solid 1px red;
}
#day_off[value=欠勤] ~ div > #absence {
    border: solid 1px red;
}
#day_off[value=欠特別休暇勤] ~ div > #special_holiday {
    border: solid 1px red;
}
#day_off[value=祝日] ~ div > #public_holiday {
    border: solid 1px red;
}

.time-sheet table td, .time-sheet table th {
    text-align: center;
    font-size: 15px;
}

.time-sheet table th {
    color: white;
}

.day-off .btn-group div {
    margin-bottom: 10px;
}

.end-of-month {
    display: none;
    margin-bottom: 50px;
}
