.content {
    display: none;
}

#formContent{
    margin-top: 10%;
    /*display: none;*/
}

.time-sheet thead {
    background-color: #cbdbb8;
}

/*.time-sheet tbody > tr > td:nth-child(2) {*/
    /*background-color: #cbdbb8;*/
/*}*/

.time-sheet .saturday > td:nth-child(2) {
    color: dodgerblue;
}

.time-sheet .sunday > td:nth-child(2) {
    color: red;
}

.time-sheet thead > tr > th:last-child, .time-sheet tbody > tr > td:last-child {
    /*display: none;*/
}

.time-sheet .holiday {
    background-color: lightgrey;
}

.weekday::before {
    content: '(';
}
.weekday::after {
    content: ')';
}

.row {
    margin-left: 0;
    margin-right: 0;
}
